* {
    margin: 0; 
    padding: 0; 
}

html {
    /* Fail safe */
    background-color: aliceblue;

    /* Radial gradient background - css3 */
    background: radial-gradient(rgba(179, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    text-align: center;
}


#name {
    margin-top: 50px;
}

.input {
    font-size: 25px;
    color: #004d00;
    font-weight: 700;
    margin: 20px;
}

#entry {
    width: 150px;
    height: 40px;
    font-size: 23px;
    background-color: #001a66;
    color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color: peachpuff;
}

table, th, td {
    border: 2px solid black;
    padding: 5px;
}

th {
    font-size: 30px;
    font-weight: 700px;
    font-family: arial;
    color: #004d00;
}

td {
    font-size: 25px;
    color: crimson;
    font-weight: 400;
    font-family: georgia;

}





